section {
	max-width: 1200px;
	margin: 0 auto;
}

span {
	background-color: #ccffcc;
	padding: 2px 5px;
}

@font-face {
  font-family: "Indie-Flower";
  src: url('https://fonts.google.com/specimen/Indie+Flower?category=Handwriting') format("truetype");
}
