section {
	max-width: 1200px;
	margin: 0 auto;
}

span {
	background-color: #ccffcc;
	padding: 2px 5px;
}

@font-face {
  font-family: "Architects-Daughter";
  src: url('https://fonts.google.com/specimen/Architects+Daughter?category=Display,Handwriting,Monospace') format("truetype");
}

