section {
	max-width: 1200px;
	margin: 0 auto;
}

span {
	background-color: #ccffcc;
	padding: 2px 5px;
}

@font-face {
  font-family: "Architects-Daughter";
  src: url('https://fonts.google.com/specimen/Architects+Daughter?category=Display,Handwriting,Monospace') format("truetype");
}
:root {
    --main-bg-color: #ccc;
    --nav-link-color: #fff;
}

body {
    margin: 0;
}

#main-header {
    background: var(--main-bg-color);
    padding: 0.5rem 0.5rem 0;
}

#main-header__title {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 0.5rem;
}

#main-header__nav {
    display: flex;
    flex-wrap: wrap;
}

#main-header__nav a {
    padding: 0.5rem 1rem;
    background-color: rgba(0,0,0,0.25);
    color: var(--nav-link-color);
    text-decoration: none;
}

#main-header__nav a:hover {
    background-color: rgba(0,0,0,0.5);
}

#main-wrapper {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

#main-content {
    padding: 0.5rem 0.5rem 0;
}

.article__header-title {
    margin: 0 0 0.5rem;
}

.sidebar {
    background: var(--main-bg-color);
    padding: 1rem 0.5rem;
}

.sidebar__section {
    margin-bottom: 1rem;
}

#main-footer {
    background: var(--main-bg-color);
    padding: 1rem 0.5rem;
    text-align: right;
}
